/* Ёто правило задаЄт общий размер шрифта */
body {
    font-size: 16px;
}

/* Ёто правило Ч размер дл€ заголовков первого уровн€ */
h1 {
    font-size: 32px;
}

/* ј это Ч тень дл€ заголовков первого уровн€ */
h1 {
    text-shadow: 2px 2px 0 #ccc;
}